.search{
  width: 400px;
     margin: auto;
}

body{
  background: url("images/italian.jpg");

}

.navbar{
  opacity: 0.9;

}



.jumbotron{
  margin-top: 100;
  opacity:0.78;
      padding-top: 3rem ;
      padding-bottom: 1.8rem;

}
