  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <%searchRes.forEach(function(recipe){%>
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><%=recipe.title%></h2>
        <p class="lead"><strong>Ready in:</strong> <%= recipe.readyInMinutes%> minutes</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>

      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://spoonacular.com/recipeImages/<%=recipe.image%>" >
      </div>
    </div>

    <hr class="featurette-divider">
<%})%>
