.search{
  width: 400px;
     margin: auto;
}

body{
  background: url("images/italian.jpg");
  /*background-color: #f6f6f6;*/
  background-size: cover;

  background-repeat: no-repeat;
}

.navbar{
  opacity: 0.9;
}

.jumbotron{
  background-color: #e9ecef17;
  margin-top: 100;
  opacity:0.78;
  padding-top: 3rem ;
  padding-bottom: 1.8rem;

}

.form-control{
  border-radius:0.9rem;
}

.btn{
  border-radius: 0.9rem;
}

.marketing{
  background-color: #f6f6f6;
  opacity: 0.74;
}

.recipe{
}
